<html lang="en">
<head>
  <meta charset="utf-8">

  <title>HW9b</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <title>David Yu - HW9</title>

</head>

<body>
  <div class="container" style="padding-top:15px;">
    <h2>
        Index Page for David Yu's HW9b
    </h2>
    <label for="exercises">Please select an execise to view:</label>
    <hr>
    <a href="/ex1"  title="Click to go to example #1">Go to Exercise 1: Processing a Form</a>
    <br />
    <a href="/ex2" title="Click to go to example #2">Go to Exercise 2: Visited countries API </a>
    <br />
    <a href="/ex3" title="Click to go to example #3">Go to Exercise 3: Add New Article</a>
</div>
</body>
</html> 